.detail-head {
    background-color: #f8f8f8;
    padding: 80px 0 32px;
}

.detail {
    padding: 0px 0 80px;
    background-color: #f8f8f8;
}

.detail-head .detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-head .detail-header .back {
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
    color: var(--primary-500);
}

.detail-head .detail-header .back img {
    width: 24px;
    height: auto;
    object-fit: contain;
}

.detail-head .detail-header .breadcrumb {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #474C54;

    display: flex;
    align-items: center;
    gap: 8px;
}

.detail-head .detail-header .breadcrumb > div:last-child {
    color: #18191C;
}

.detail .detail-content {
    padding: 60px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.detail .detail-content .logo {
    padding-top: 12px;
}

.detail .detail-content .logo img {
    width: 72px;
    height: auto;
    object-fit: contain;
}

.detail .detail-content .detail-content-header {
    display: flex;
    align-items: center;
}

.detail .detail-content .detail-content-header .detail-content-wrap {
    display: flex;
    align-items: self-start;
    gap: 24px;
    flex: 1;
}

.detail .detail-content .detail-content-heading {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.detail .detail-content .detail-content-heading .title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    color: #18191C;
}

.detail .detail-content-heading .requirement-list {
    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #9199A3;
}

.detail .detail-content-heading .requirement-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.detail .detail-infor-list {
    padding: 32px;
    border: 2px solid #F2FAFB;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.detail .detail-infor-item {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #767F8C;
}

.detail .detail-infor-item div span {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #18191C;
}

.detail .detail-infor-item div img {
    height: 32px;
    width: auto;
    object-fit: contain;
}

.detail .detail-body {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.detail .detail-body .desc * {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #18191C;
}

.detail .detail-body .desc p:last-child {
    margin-bottom: 0;
}

.detail .detail-body .desc ul {
    list-style-type: disc;
    list-style-position: inside;
}

.detail .detail-body .title {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: var(--secondary-500);
    margin-bottom: 16px;
}

/* otherJob */

.otherJob {
    padding: 32px 0 80px;
    background-color: #f8f8f8;
}

.otherJob .otherJob-item-top .logo img {
    width: 62px;
    height: auto;
    object-fit: contain;
}

.otherJob .otherJob-heading {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    color: #18191C;
    margin-bottom: 32px;
}

.otherJob .otherJob-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.otherJob .otherJob-item {
    background-color: #fff;
    display: block;
    padding: 24px 16px;
    border-radius: 8px;
    border: 1px solid #E4E5E8;
}

.otherJob .otherJob-item .otherJob-item-top {
    display: flex;
    align-items: center;
    gap: 24px;
}


.career-list-mb {
    display: flex;
    flex-direction: row;
}

.otherJob .otherJob-bot {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 576px) {

    .detail-head {
        padding: 24px 0;
    }

    .detail {
        background-color: #fff;
        padding: 0;
    }

    .detail-head .detail-header {
        margin-bottom: 0;
        background-color: #f8f8f8;
    }

    .detail-head .detail-header .back {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        gap: 8px;
    }

    .detail-head .detail-header .breadcrumb {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 0;
        gap: 2px;
    }

    .detail .detail-content {
        padding: 32px 0;
    }

    .detail .detail-content .detail-content-header .detail-content-wrap {
        flex-direction: column;
    }

    .detail .detail-content .detail-content-header button {
        display: none;
    }

    .detail .detail-content .detail-content-heading .title {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }

    .detail .detail-content-heading .requirement-list {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        flex-wrap: wrap;
    }

    .detail .detail-content .detail-content-heading {
        gap: 24px;
    }

    .detail .detail-content {
        gap: 24px;
    }

    .detail .detail-body {
        gap: 16px;
    }

    .detail .detail-body .title {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }

    .detail .detail-body .desc * {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .detail .detail-infor-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        padding: 24px;
    }

    .detail .detail-content button {
        width: 100%;
    }

    .career-list-mb {
        flex-direction: column;
        gap: 16px;
    }
}


/* popup */

.popup-blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(173, 178, 186, 0.50);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

.popup-form,
.popup-thank {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #fff;
    padding: 56px 32px;
    min-width: 732px;
    border-radius: 12px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

.popup-blur.active,
.popup-thank.active,
.popup-form.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s linear;
}

.popup-form .popup-close,
.popup-thank .popup-close {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 12px;
    border-radius: 84px;
    border: 2px solid #FFF;
    background: #F8F8F8;
    cursor: pointer;
    
    position: absolute;
    right: 16px;
    top: 13px;
}

.popup-form .popup-close img,
.popup-thank .popup-close img {
    width: 24px;
    height: auto;
    object-fit: contain;
}

.popup-form .note {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #C8CCD1;
    margin-bottom: 16px;
}

.popup-form .note span {
    color: #E05151;
}

.popup-form .title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: var(--secondary-500);
}

.popup-form .title span {
    color: #E05151;
}

.popup-form .popup-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 16px;
}

.popup-form .popup-field .checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.popup-form .popup-field input:not([type='checkbox']),
.popup-form .popup-field textarea {
    border-radius: 8px;
    border: 1px solid  #E4E5E8;
    background: #FFF;
    height: 48px;
    padding: 15px 18px 17px 18px;
    outline: none;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #474C54;

    width: 100%;
}

.popup-form .popup-field textarea {
    height: 100px;
}

.popup-form .popup-field input::placeholder {
    color: #C8CCD1;
}

.popup-form .upload-label {
    border-radius: 6px;
    border: 2px dashed  #E4E5E8;
    background:  #F8F8F8;

    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    cursor: pointer;
}

.popup-form .upload-label .icon .pending {
    display: block;
}

.popup-form .upload-label .icon .success {
    display: none;
}

.popup-form .upload-label input {
    display: none;
}

.popup-form .upload-label .content .top {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #474C54;
    text-align: center;
}

.popup-form .upload-label .content .top span {
    color: #18191C;
}

.popup-form .upload-label .content .bot {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #5E6670;
    text-align: center;
}

.popup-form .group-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
}

.popup-form .group-btn button[type=submit] {
    padding: 16px 48px;
}

.popup-form .popup-form-container {
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 20px 0;
    margin-top: 10px;
}

.popup-form .popup-form-container::-webkit-scrollbar {
    width: 5px;
  }
  
.popup-form .popup-form-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
.popup-form .popup-form-container::-webkit-scrollbar-thumb {
    background: var(--tertiary-500); 
  }

.popup-thank .popup-thank-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

.popup-thank .icon {
    margin-bottom: 32px;
}

.popup-thank .title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    color: #009BAB;
}

.popup-thank .desc {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #474C54;
}

.popup-thank .btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.popup-thank .btn-group .btn {
    padding: 16px 48px;
}

@media screen and (max-width: 576px) {
    .popup-form {
        min-width: 100%;
        border-radius: 24px 24px  0px  0px;
        top: unset;
        bottom: 0;
        transform: translate(-50%, 0);
        padding: 24px;
    }

    .popup-form .popup-close, .popup-thank .popup-close {
        background: transparent;
    }

    .popup-form .title {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    .popup-form .popup-form-container {
        padding: 0;
        max-height: 90vh;
    }

    .popup-form .upload-label {
        padding: 16px;
    }

    .popup-form .popup-field {
        padding-bottom: 24px;
    }

    .popup-form .group-btn .btn {
        flex: 1;
    }

    .popup-form .group-btn button[type=submit] {
        padding: 16px 32px;
    }

    .popup-thank {
        min-width: 90vw;
    }

    .popup-thank .title {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 16px;
    }

    .popup-thank .desc {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #474C54;
    }

    .popup-thank .btn-group .btn {
        padding: 16px 56px;
    }
}