footer {
    padding: 64px 0;
    background-color: var(--primary-500);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
}

footer .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

footer .line {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #fff;
}

@media screen and (max-width: 576px) {
    footer {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }
}