@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-ExtraBold.woff2') format('woff2'),
        url('../fonts/Lexend-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Regular.woff2') format('woff2'),
        url('../fonts/Lexend-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-SemiBold.woff2') format('woff2'),
        url('../fonts/Lexend-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-ExtraLight.woff2') format('woff2'),
        url('../fonts/Lexend-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Medium.woff2') format('woff2'),
        url('../fonts/Lexend-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Light.woff2') format('woff2'),
        url('../fonts/Lexend-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Bold.woff2') format('woff2'),
        url('../fonts/Lexend-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Thin.woff2') format('woff2'),
        url('../fonts/Lexend-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-500: #009BAB;
    --primary-600: #007C89;
    --secondary-500: #00749B;
    --tertiary-500: #ABDFE1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend', sans-serif;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h3,
h2,
h1 {
    font-family: 'Lexend', sans-serif;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1440px;
        padding: 0 60px 0;
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding: 0 24px 0;
    }
}

/* components */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 16px 32px;
    border-radius: 4px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

    text-transform: capitalize;
    width: fit-content;
    box-shadow: none;
    outline: none;
}

.btn.medium {
    padding: 12px 24px;
}

.btn.small {
    padding: 8px 16px;
}

.btn-secondary:hover img,
.btn-secondary:hover img,
.btn-secondary:focus img,
.btn-secondary:focus img,
.btn-secondary:active img,
.btn-secondary:active img  {
    filter: brightness(0) invert(1);
}

.btn-primary {
    border: 1px solid var(--primary-500);
    background-color: var(--primary-500);
    color: #fff;
    transition: all 0.3s linear;
}

.btn-primary:hover {
    border: 1px solid var(--primary-600);
    background-color: var(--primary-600);
    transition: all 0.3s linear;
}

.btn-primary:focus,
.btn-secondary:focus,
.btn-white:focus,
.btn-primary:active,
.btn-secondary:active,
.btn-white:active {
    border: 1px solid var(--secondary-500);
    background-color: var(--secondary-500);
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: none;
}

.btn-secondary {
    border: 1px solid var(--tertiary-500);
    background-color: #fff;
    color: var(--primary-500);
    /* transition: all 0.3s linear; */
}

.btn-secondary:hover,
.btn-white:hover {
    border: 1px solid var(--primary-500);
    background-color: var(--primary-500);
    color: #fff;
    transition: all 0.3s linear;
}

.btn-white {
    border: 1px solid #fff;
    background-color: #fff;
    color: var(--primary-500);
    transition: all 0.3s linear;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    line-height: 22px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 22px;
    height: 22px;

    border-radius: 100%;
    background: #fff;
}

[type="radio"]:not(:checked)+label:before {
    border: 1px solid var(--tertiary-500);
}

[type="radio"]:checked+label:before {
    border: 1px solid var(--primary-500);
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--primary-500);
    position: absolute;
    top: 3.9px;
    left: 5.1px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.hero .dropdown .dropdown-list .checkbox input[type=checkbox] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid var(--tertiary-500);
    position: relative;
}

input[type=checkbox] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid var(--tertiary-500);
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--primary-500);
    border: 1px solid var(--primary-500);
}

input[type="checkbox"]:checked::after {
    content: '✔';
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 4px;
}

.group-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.group-checkbox:hover input[type='checkbox'] {
    border: 1px solid var(--primary-500);
}

.group-radio {
    width: fit-content;
}

.group-radio:hover [type="radio"]:not(:checked)+label:before {
    border: 1px solid var(--primary-500);
}

@media screen and (max-width: 576px) {
    .btn {
        padding: 12px 24px;
    }
}

/* hero */

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.hero-banner {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}

.hero .hero-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-heading {
    padding: 154px 0 80px;
}

.hero-title {
    color: #fff;
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 0;
}

.hero .search-container {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 6px;
}

.hero .search-button {
    margin-left: 12px;
}

.hero .search-button .btn {
    width: 160px;
}

.hero .search-dropdown .dropdown {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #9199A3;
    margin-left: 4px;
}

.hero .search-dropdown .logo-location,
.hero .search-dropdown .logo-dropdown,
.hero .search-dropdown .logo-close {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: all 0.3s linear;
}

.hero .dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 14px;
    border-radius: 8px;
    width: 420px;
    border: 1px solid transparent;
    cursor: pointer;
}

.hero .dropdown.open {
    border: 1px solid var(--primary-500);
}

.hero .dropdown.open .dropdown-list {
    display: block;
}

.hero .dropdown.open .logo-dropdown {
    transform: rotate(180deg);
    transition: all 0.3s linear;
}

.hero .dropdown .dropdown-label {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8px;
    max-width: 320px;
    overflow: auto;
}

.hero .dropdown .dropdown-label::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.hero .dropdown .dropdown-label span {
    padding: 8px 12px;
}

.hero .dropdown .selected-item {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: nowrap;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #464D61;
    background-color: #F8F8F8;
    border-radius: 30px;
    padding: 8px 12px;
    white-space: nowrap;
}

.hero .dropdown .dropdown-list {
    background-color: #fff;
    padding: 24px 32px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    border-radius: 8px;
    width: 100%;
    max-height: 308px;
    overflow-y: auto;
    z-index: 2;
    border: 1px solid #E4E5E8;
    box-shadow: 0px 8px 16px 0px rgba(0, 62, 68, 0.10);
    display: none;
}

.hero .dropdown .dropdown-list::-webkit-scrollbar {
    width: 8px;
}

.hero .dropdown .dropdown-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

.hero .dropdown .dropdown-list::-webkit-scrollbar-thumb {
    background: var(--tertiary-500);
    border-radius: 8px;
}

.hero .dropdown .dropdown-list>div {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.hero .dropdown .dropdown-list .checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero .dropdown .dropdown-list .checkbox input[type=checkbox] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid var(--tertiary-500);
    position: relative;
}

.hero .dropdown .dropdown-list .checkbox:hover input[type=checkbox] {
    border: 1px solid var(--primary-500)
}

.hero .dropdown .dropdown-list .checkbox input[type="checkbox"]:checked {
    background-color: var(--primary-500);
    border: 1px solid var(--primary-500);
}

.hero .dropdown .dropdown-list .checkbox input[type="checkbox"]:checked::after {
    content: '✔';
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: -1px;
    left: 4px;
}

.hero .dropdown .dropdown-list .checkbox label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #474C54;
    cursor: pointer;
}

.hero .search-text {
    position: relative;
}

.hero .search-text::after {
    content: '';
    display: block;
    width: 1px;
    height: 32px;
    background: #E4E5E8;
    position: absolute;
    top: 50%;
    right: -3px;
    transform: translateY(-50%);
}

.hero .search-text .keyword-text.open {
    border: 1px solid var(--primary-500);
}

.hero .keyword-text {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 420px;
    padding: 8px 16px 8px 14px;
    border-radius: 8px;
    border: 1px solid #fff;
}

.hero .keyword-text input {
    border: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #9199A3;
    outline: none;
    flex: 1;
    padding: 8px 0;
}

.hero .keyword-text input::placeholder {
    color: #9199A3;
}

@media screen and (max-width: 576px) {

    .hero {
        min-height: 181px;
    }

    .hero-heading {
        padding: 80px 0 0;
    }

    .hero-title {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    .hero .search {
        width: calc(100% - 48px);
        position: absolute;
        bottom: -35px;
    }

    .hero .search .search-dropdown,
    .hero .search .search-button {
        display: none;
    }

    .hero .search-container {
        padding: 8px;
        border-radius: 8px;
    }

    .hero .search-text::after {
        display: none;
    }

    .hero .keyword-text,
    .hero .search-text {
        width: 100%;
        background-color: #fff;
        border-radius: 8px;
    }

}

/* career */

.career {
    background-color: #f8f8f8;
    padding: 80px 0;
}

.career .career-title {
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    color: #18191C;
}

.career .career-title>span {
    color: var(--secondary-500);
}

.career .career-result {
    display: flex;
    gap: 24px;
}

.career .career-heading {
    padding-bottom: 32px;
}

.career .career-filter {
    background-color: #fff;
    width: 312px;
    border-radius: 8px;
    height: fit-content;
    border: 1px solid #E4E5E8;
}

.career .career-filter .filter-item {
    padding: 24px 32px;
    border-bottom: 1px solid #E4E5E8;
}

.career .career-filter .filter-item:last-child {
    border-bottom: 0px;
}

.career .filter-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.career .filter-item-bottom {
    padding-top: 20px;
}

.career .filter-heading {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.career .filter-icon-up {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: all 0.3s linear;
}

.career .filter-icon-up.rotate {
    transform: rotate(180deg);
    transition: all 0.3s linear;
}

.career .filter-bottom-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.career .filter-bottom-list label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #474C54;
    cursor: pointer;
}

.career .show-more-filter {
    color: var(--primary-500);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.career .career-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.career .career-item {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #E4E5E8;
    transition: all 0.3s linear;
}

.career .career-item:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 62, 68, 0.10);
    border: 1px solid #E4E5E8;
    transition: all 0.3s linear;
}

.career .career-item:active,
.career .career-item:focus {
    border: 1px solid var(--primary-500);
    box-shadow: 0px 8px 16px 0px rgba(0, 62, 68, 0.10);
}

.career .career-item .logo {
    width: 44px;
    height: 44px;
    object-fit: contain;
}

.career .career-item .job-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #18191C;
}

.career .career-item .job-desc {
    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #9199A3;
    flex-wrap: wrap;
}

.career .career-item .job-desc>div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.career .career-item .job-desc img {
    height: 22px;
    width: auto;
    object-fit: contain;
}

.career .career-item .job-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.career .job-btn a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.career .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.career .pagination-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.career .pagination-container .pagi-btn,
.career .pagination-container .pagi-page {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.career .pagi-btn {
    cursor: pointer;
    border: 1px solid var(--tertiary-500);
}

.career .pagi-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.career .pagination-container .pagi-page {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #C8CCD1;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s linear;
}

.career .pagination-container .pagi-page:hover {
    border: 1px solid var(--tertiary-500);
    color: var(--tertiary-500);
    font-weight: 500;
    transition: all 0.3s linear;
}

.career .pagination-container .pagi-page.active {
    background-color: var(--primary-500);
    border: 1px solid var(--primary-500);
    font-weight: 500;
    color: #fff;
}

.career-list-mb {
    display: none;
}

.career .no-result {
    padding: 80px;
    background-color: #fff;
    border-radius: 8px;
    flex: 1;
    height: fit-content;
    border: 1px solid #E4E5E8;
}

.career .no-result .title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    color: var(--primary-500);
    margin-bottom: 16px;
}

.career .no-result .desc {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #000;
}

.career .career-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.career .career-heading .filter-carrer {
    display: none;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #18191C;
    border-radius: 66px;
    padding: 8px 12px 8px 16px;
    border: 1px solid #E4E5E8;
}

.career .career-heading .filter-carrer img {
    width: 24px;
    height: auto;
}

.career-list-mb {
    flex-direction: column;
    gap: 16px;
}

.career-list-mb-item {
    background-color: #fff;
    padding: 24px 16px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #E4E5E8;
}

.career-list-mb-item:hover {
    border: 1px solid #E4E5E8;
    box-shadow: 0px 8px 16px 0px rgba(0, 62, 68, 0.10);
}

.career-list-mb-item:active,
.career-list-mb-item:focus {
    border: 1px solid var(--primary-500);
    box-shadow: 0px 8px 16px 0px rgba(0, 62, 68, 0.10);
}

.career-list-mb-top {
    display: flex;
    gap: 24px;
}

.career-list-mb-top .job-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.career-list-mb-top .logo img {
    width: 62px;
    height: auto;
    object-fit: contain;
}

.career-list-mb-top .job-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #18191C;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.career-list-mb .job-detail-mb {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #9199A3;
}

.career-list-mb .job-detail-mb img {
    height: 22px;
    width: auto;
    object-fit: contain;
}

.career-list-mb-bot {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.filter-sticky {
    display: none;
}

.career .career-filter-header-mb,
.career .career-filter-footer-mb,
.filter-item-bottom .search-dropdown {
    display: none;
}

.component-dropdown-newtwork {
    display: none;
}

@media screen and (max-width: 576px) {
    
    .career {
        padding: 70px 0 80px;
    }

    .career-list-mb-top {
        height: 83px;
        align-items: center;
    }

    .career-list-mb {
        display: flex;
    }

    .career .career-result {
        flex-direction: column;
    }

    .career .career-filter,
    .career .career-list {
        display: none;
    }

    .career .career-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }

    .career .pagination {
        padding-top: 32px;
    }

    .career .pagination-container .pagi-btn {
        display: none;
    }

    .career .no-result {
        padding: 32px 24px;
    }

    .career .no-result .title {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
    }

    .career .no-result .desc {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .career .career-heading .filter-carrer {
        display: flex;
    }

    .filter-sticky {
        display: flex;
        align-items: center;
        gap: 8px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: var(--primary-500);
        width: 100%;
        padding: 24px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.1s  linear;
    }

    .filter-sticky.active {
        opacity: 1;
        visibility: visible;
        transition: all 0.1s linear;
    }


    .filter-sticky .search-text {
        flex: 1;
    }

    .filter-sticky .keyword-text {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        padding: 8px 16px 8px 14px;
        border-radius: 8px;
        background-color: #fff;
    }

    .filter-sticky .search-text .keyword-text input {
        border: 0;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #9199A3;
        outline: none;
    }

    .filter-sticky .keyword-text .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    /* filter */

    .career .career-filter {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 10;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f8f8f8;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear;
    }

    .career .career-filter.active {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s linear;
    }

    .career .career-filter .filter-item {
        border-bottom: 16px solid #f8f8f8;
        background-color: #fff;
    }

    .career .filter-icon-up {
        display: none;
    }

    .career .career-filter .filter-item.category .filter-bottom-list,
    .career .career-filter .filter-item.type .filter-bottom-list {
        flex-direction: row;
        gap: 16px;
    }

    .career .career-filter .filter-bottom-list {
        flex-direction: row;
        gap: 8px;
        flex-wrap: wrap;
    }

    .career .career-filter .filter-bottom-list input[type=checkbox] {
        display: none;
    }

    .career .filter-item.location .filter-bottom-list label
    /* .career .filter-item.type .filter-bottom-list label */
     {
        display: inline-flex;
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid  #ABDFE1;
    }

    .career .filter-item.location  input[type="checkbox"]:checked + label,
    .career .filter-item.type  input[type="checkbox"]:checked + label {
        color: #fff;
        background-color: var(--primary-500);
    }

    .career .filter-item.network .filter-item-bottom .filter-bottom-list {
        display: none;
    }
    
    .career .career-filter-footer-mb {
        padding: 24px;
        box-shadow: 0px -8px 16px 0px rgba(0, 62, 68, 0.05);
        display: block;
        background-color: #fff;
    }

    .career .career-filter-footer-mb .btn {
        width: 100%;
    }

    .career .career-filter-body {
        flex: 1;
        max-height: calc(100vh - 185px);
        overflow-y: auto;
    }

    .career .career-filter-header-mb {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        background-color: #fff;
        border-bottom: 1px solid #f8f8f8;
    }

    .career .career-filter-header-mb  .title {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        color: #00171F;
    }

    /* dropdown */

    .filter-item-bottom .search-dropdown .dropdown.none {
        border: 1px solid #9199A3;
    }

    .filter-item-bottom .search-dropdown {
        display: block;
    }

    .filter-item-bottom .search-dropdown .dropdown {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #9199A3;
        border: 1px solid var(--primary-500);
    }
    
    .filter-item-bottom .search-dropdown .logo-location,
    .filter-item-bottom .search-dropdown .logo-dropdown,
    .filter-item-bottom .search-dropdown .logo-close {
        width: 24px;
        height: 24px;
        object-fit: contain;
        transition: all 0.3s linear;
    }
    
    .filter-item-bottom .dropdown {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px 8px 14px;
        border-radius: 8px;
        border: 1px solid #9199A3;
        width: 100%;
        cursor: pointer;
    }
    
    .filter-item-bottom .dropdown.open {
        border: 1px solid var(--primary-500);
    }
    
    .filter-item-bottom .dropdown.open .dropdown-list {
        display: block;
    }
    
    .filter-item-bottom .dropdown.open .logo-dropdown {
        transform: rotate(180deg);
        transition: all 0.3s linear;
    }
    
    .filter-item-bottom .dropdown .dropdown-label {
        flex: 1;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 8px;
        max-width: 320px;
        overflow: auto;
    }
    
    .filter-item-bottom .dropdown .dropdown-label::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    
    .filter-item-bottom .dropdown .dropdown-label span {
        padding: 8px 12px;
    }
    
    .filter-item-bottom .dropdown .selected-item {
        display: flex;
        align-items: center;
        gap: 4px;
        flex-wrap: nowrap;
        font-size: 14px;
        line-height: 1;
        font-weight: 400;
        color: #464D61;
        background-color: #F8F8F8;
        border-radius: 30px;
        padding: 8px 12px;
        white-space: nowrap;
    }

    /* component dropdown network */

    .component-dropdown-newtwork {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear;
    }

    .component-dropdown-newtwork.active {
        opacity: 1;
        visibility: visible;
        z-index: 10;
        transition: all 0.3s linear;
    }

    .component-dropdown-network--container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .component-dropdown-newtwork .search-dropdown-wrap {
        flex: 1;
        padding: 24px;
    }

    .component-dropdown-newtwork .top,
    .component-dropdown-newtwork .bot {
        padding: 24px;
    }

    .component-dropdown-newtwork .top {
        border-bottom: 1px solid var(--Gray-100, #E4E5E8);
    }

    .component-dropdown-newtwork .bot {
        box-shadow: 0px -8px 16px 0px rgba(0, 62, 68, 0.05);
    }

    .component-dropdown-newtwork .bot .btn {
        width: 100%;
    }

    .component-dropdown-newtwork .top .back {
        width: fit-content;
    }

    .component-dropdown-newtwork .dropdown .dropdown-list {
        background-color: #fff;
        padding: 16px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        border-radius: 8px;
        width: 100%;
        max-height: 70vh;
        overflow-y: auto;
        z-index: 10;
    }
    
    .component-dropdown-newtwork .dropdown .dropdown-list::-webkit-scrollbar {
        width: 8px;
    }
    
    .component-dropdown-newtwork .dropdown .dropdown-list::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 8px;
    }
    
    .component-dropdown-newtwork .dropdown .dropdown-list::-webkit-scrollbar-thumb {
        background: var(--tertiary-500);
        border-radius: 8px;
    }
    
    .component-dropdown-newtwork .dropdown .dropdown-list>div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    
    }
    
    .component-dropdown-newtwork .dropdown .dropdown-list .checkbox {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    .component-dropdown-newtwork .dropdown .dropdown-list .checkbox input[type=checkbox] {
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        border: 1px solid var(--tertiary-500);
        position: relative;
    }
    
    .component-dropdown-newtwork .dropdown .dropdown-list .checkbox:hover input[type=checkbox] {
        border: 1px solid var(--primary-500)
    }
    
    .component-dropdown-newtwork .dropdown .dropdown-list .checkbox input[type="checkbox"]:checked {
        background-color: var(--primary-500);
    }
    
    .component-dropdown-newtwork .dropdown .dropdown-list .checkbox input[type="checkbox"]:checked::after {
        content: '✔';
        font-size: 12px;
        color: #fff;
        position: absolute;
        top: -1px;
        left: 4px;
    }
    
    .component-dropdown-newtwork .dropdown .dropdown-list .checkbox label {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #474C54;
        cursor: pointer;
    }

}